@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

body {
	font-family: Lora, sans-serif;
	display: grid;
	grid-template-rows: auto auto auto auto auto;
	grid-template-columns: auto 50px auto;
	padding: 24px;
	max-width: 400px;
	margin: 24px auto;
}

/* Layout */
h1 {
	grid-row: 1 / span 1;
	grid-column: 1 / span 3;
}
#count-label {
	grid-row: 2 / span 1;
	grid-column: 1 / span 1;
	margin-right: 12px;
	align-self: center;
}
#count {
	grid-row: 2 / span 1;
	grid-column: 2 / span 1;
}
#roll {
	grid-row: 2 / span 1;
	grid-column: 3 / span 1;
	display: flex;
	justify-self: center;
	align-self: center;
	margin-left: 12px;
}
#total-control {
	margin: 24px 0;
	grid-row: 3 / span 1;
	grid-column: 1 / span 3;
}
#rolls-control {
	grid-row: 4 / span 1;
	grid-column: 1 / span 3;
}
#reset {
	grid-row: 5 / span 1;
	grid-column: 1 / span 3;
}

/* Form controls */
label, input {
	display: block;
	border-radius: 5px;
}
label {
	color: hsl(240, 5%, 20%);
	margin-bottom: 4px;
}
input {
	padding: 6px 12px;
	border: 1px solid hsl(240, 10%, 80%);
}
output {
	font-weight: 700;
	margin-left: 4px;
}
#total-control label, #total-control output {
	display: inline;
}
fieldset {
	border: none;
	padding: 0;
}
button {
	width: fit-content;
	height: fit-content;
	padding: 12px 24px;
	border: none;
	box-shadow: 0 1px 2px hsl(240, 5%, 50%);
	color: hsl(240, 5%, 5%);
	border-radius: 5px;
}
#roll {
	background-color: hsl(240, 50%, 50%);
	color: white;
	font-weight: 700;
}
#reset {
	background-color: hsl(0, 50%, 90%);
	color: hsl(0, 50%, 60%);
	font-weight: 700;
}

/* Dice */
ol {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.die {
	height: 50px;
	width: 50px;
	margin: 10px;
	background-color: white;
	font-size: 24px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: hsl(240, 5%, 5%);
	box-shadow: 0 2px 3px hsl(240, 5%, 50%);
	border-radius: 5px;
}
